# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
override.tf

# Docker / LocalStack
localstack/.cache
localstack/data
docker-compose.override.yml

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Logs and temp
*.log
*.tmp
